@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add additional custom styles below */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
  }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}

.fade-in {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}
  
@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

