@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add additional custom styles below */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
  }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}

.fade-in {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}
  
@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-text {
  background: linear-gradient(90deg, red, orange, yellow);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 3s linear infinite;
}

@keyframes moveFold {
  0%, 100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
}

@keyframes moveMail {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}

.animated-mail {
  position: absolute;
  width: 200px;
  height: 150px;
  animation: moveMail 2s ease-in-out infinite, moveFold 2s ease-in-out infinite;
}

.shadow {
  width: 250px;
  animation: shadowExpand 2s ease-in-out infinite;
}

@keyframes shadowExpand {
  0%, 100% {
    width: 400px;
  }
  50% {
    width: 250px;
  }
}


